apiVersion: v1
kind: Service
metadata:
  labels:
    app: phpapp
  name: php-app
  namespace: phplabapp
spec:
  type: NodePort
  ports:
    - port: 80
      targetPort: 80
      protocol: TCP
  selector:
    app: phpapp
